.app-logo {
  font-family: 'Patua One';
  font-size: 1.25em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  letter-spacing: 0.04em;
}
.app-logo > span {
  display: flex;
  align-items: center;
}

.app-logo__gap {
  flex: 1;
  border-bottom: 1px dotted dodgerblue;
  height: 1.25em;
  max-width: 4em;
  min-width: 1em;
}

.app-logo__text {
  text-decoration: underline;
}