.app-bar__wrapper {
  background-color: var(--color-active);
  position: fixed;
  bottom: 0;
}

.app-bar {
  max-width: 30em;
  margin: 0 auto;
}

.app-bar__buttons {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  height: var(--layout-bar);
  /* margin-right: -1em; */
  /* width: calc(100% + 1em); */
}
.app-bar button {
  padding: .75em;
  cursor: pointer;
}

.app-bar button:last-child {
  margin-right: 1em;
}

.app-bar button:disabled {
  cursor: initial;
}