.app-bar {
  background-color: var(--color-active);
  position: fixed;
  bottom: 0;
  /* height: var(--layout-bar); */
}

.app-bar__buttons {
  max-width: calc(var(--layout-max-width) + var(--layout-padding) * 2);
  margin: 0 auto;
}

.app-bar__buttons ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.app-bar__buttons button {
  padding: .75em;
  cursor: pointer;
  line-height: 0;
}

.app-bar__buttons li:last-child {
  margin-right: var(--layout-padding);
}

.app-bar button:disabled {
  cursor: initial;
}