.app-progress {
  width: 100%;
  margin-bottom: calc(1em - 2px);
  position: relative;
}

.app-progress > div {
  height: 2px;
}

.app-progress__side {
  top: 0;
  width: 200%;
  position: absolute;
  overflow: hidden;
  background-color: var(--color-transparent);
  z-index: -1;
}

.app-progress__side > div {
  width: 100vw;
  height: 2px;
  position: absolute;
  background-color: var(--color-primary);
}

.app-progress__side:first-child {
  left: 0;
  transform: translateX(-100%);
}

.app-progress__side:last-child {
  right: 0;
  transform: translateX(100%);
}

.app-progress__content {
  display: flex;
}

.app-progress__content > div:first-child {
  background-color: var(--color-primary);
}

.app-progress input {
  width: 100%;
}