.app-bar__wrapper {
  background-color: white;
  position: relative;
  z-index: 2;
}
.app-bar {
  display: flex;
  height: 4em;
  align-items: center;
}
.app-bar h1 {
  margin-right: .75em;
}
.app-bar button {
  padding: .75em;
}

.app-bar button:last-child {
  margin-right: -.75em;
}