.app-logo {
  font-family: 'Patua One';
  font-size: 1.25em;
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  letter-spacing: 0.04em;
}
.app-logo > span {
  display: flex;
  align-items: center;
}

.app-logo__gap {
  flex: 1;
  border-bottom: 1px dotted dodgerblue;
  height: 1.25em;
  max-width: 4em;
  min-width: 1em;
}

/* @media (max-width: 360px) {
  .app-logo {
    font-size: 5.5vw;
  }
  .app-logo__gap {
    max-width: 1.5em;
    height: 5.5vw;
  }
} */

.app-logo__text {
  text-decoration: underline;
}