.branch-switcher__wrapper {
  margin-top: 2em;
  overflow: hidden;
  position: relative;
}
.branch-switcher {
  display: flex;
  align-items: flex-end;
  transition-property: transform, margin-top;
  transition-delay: 0s, calc(var(--transition-time) + .05s);
}

.branch-switcher__to-max {
  transition-delay: calc(var(--transition-time) + .05s), 0s;
}

.branch-switcher > ul {
  min-width: 100%;
}

.branch-switcher > ul + ul {
  margin-left: var(--layout-margin);
}