.branch-switcher__wrapper {
  overflow: hidden;
  z-index: -1;
  position: relative;
}
.branch-switcher {
  display: flex;
  align-items: flex-end;
  transition-property: transform, margin-top;
  transition-delay: 0s, .35s;
  /* position: relative; */
}

.branch-switcher > ul {
  min-width: 100%;
}

.branch-switcher > ul + ul {
  margin-left: var(--layout-margin);
}