.branch-switcher__wrapper {
  /* margin-top: 2em; */
  overflow: hidden;
  position: relative;
  transition-property: margin-left, margin-top;
}
.branch-switcher {
  width: 100%;
  /* position: fixed; */
  display: flex;
  align-items: flex-end;
  transition-property: margin-left, margin-top;
}

.branch-switcher > ul {
  min-width: 100%;
}

.branch-switcher > ul + ul {
  margin-left: var(--layout-margin);
}

.branch-switcher__constant {
  transition-property: margin-top;
  height: 5em;
}

.branch-switcher__constant ul {
  height: 100%;
}