.branch-selector {
  top: 0;
  z-index: 2;
  background-color: var(--color-active);
}
.branch-selector ul {
  display: flex;
  height: var(--layout-nav);
  color: var(--color-transperent);
  max-width: var(--layout-max-width);
  margin: 0 auto;
}
.branch-selector li {
  flex: 1;
}

.branch-selector label {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100%;
  font-size: .875em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition-property: color;
}
.branch-selector input {
  position: absolute;
  display: none;
}

.branch-selector input[type="radio"]:checked+label {
  color: white;
  cursor: default;
}

.branch-selector__outline {
  background-color: var(--color-primary);
  position: absolute;
  bottom: 0;
  height: 2px;
  transition-property: left;
}