.bridge-time {
  display: flex;
  color: var(--color-inactive);
}

.bridge-time__active {
  font-weight: bold;
}

.bridge-time__active:nth-child(odd) {
  color: var(--color-positive);
}

.bridge-time__active:nth-child(odd)::after {
  content: '↑';
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 0;
}

.bridge-time__active:nth-child(even) {
  color: var(--color-negative);
}

.bridge-time__active:nth-child(even)::before {
  content: '↓';
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 0;
}

.bridge-time span {
  font-size: .875rem;
}

.bridge-time span + span {
  margin-left: .5em;
}

.bridge-time > span {
  display: flex;
  justify-content: space-between;
}

.bridge-time span:nth-child(2), .bridge-time span:nth-child(5) {
  text-align: right;
}