.bridge-list {
  padding: 0 var(--layout-padding);
  /*
  border: 1px dashed var(--color-inactive);
  border-top: none;
  border-bottom: none;
  */
  transition-property: opacity;
  position: relative;
}



.bridge-list li + li {
  margin-top: 2em;
}