.bridge-item > * + * {
  margin-top: .5em;
}

.bridge-item__dummy {
  height: 3em;
}

.bridge-item__inactive {
  color: var(--color-inactive);
}

.bridge-item h4 {
  transition-property: color;
  transition-duration: .2s;
  cursor: pointer;
}