.bridge-item > * + * {
  margin-top: .5em;
}

.bridge-item__dummy {
  height: 3em;
}

.bridge-item__inactive {
  color: var(--color-inactive);
}

.bridge-item h4 span {
  color: var(--color-positive);
}

.bridge-item h4.bridge-item__inactive span {
  color: var(--color-negative);
}