@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp'); */
/* @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

:root {
  box-sizing: border-box;
  font-size: 16px;
  /* --layout-margin: 10vw; */
  --layout-padding: 1em;
  --layout-gap: 5em;
  /*
  --item-height: 3em;
  --item-margin: 2em;
  --item-gap: 4em;
  */
  --layout-nav: 3em;
  --layout-bar: 4em;
  --layout-margin: 8em;
  --transition-time: .4s;
  --color-background: #ffffff;
  --color-active: #222222;
  --color-inactive: #b3b3b3;
  --color-land: #f6f6f6;
  --color-positive: #37efba;
  --color-negative: #ff7272;
  --color-primary: #56CCF2;
  --color-water: var(--color-primary);
  overflow-x: hidden;
}

.constraint {
  padding: 0 14vw;
}
.constraint > * {
  max-width: 30em;
  margin: 0 auto;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
  color: var(--color-active);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.transitionable {
  transition-duration: var(--transition-time);
  transition-timing-function: ease-out;
}

.clickable {
  pointer-events: all !important;
  cursor: pointer !important;
}

/* Rules for sizing the icon. */
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.elevation-2 {
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.24);
}

.elevation-4 {
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  box-shadow: 0 0 6px rgba(0,0,0,0.16), 0 0 6px rgba(0,0,0,0.23);
}

.elevation-8 {
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.elevation-16 {
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
}

.elevation-24 {
  /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
  box-shadow: 0 0 38px rgba(0,0,0,0.30), 0 0 12px rgba(0,0,0,0.22);
}
