@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

:root {
  box-sizing: border-box;
  font-size: 16px;
  /* --layout-margin: 10vw; */
  --layout-padding: 1em;
  --layout-gap: 5em;
  /*
  --item-height: 3em;
  --item-margin: 2em;
  --item-gap: 4em;
  */
  --layout-nav: 4em;
  --layout-margin: 8em;
  --transition-time: .4s;
  --color-background: #ffffff;
  --color-active: #222222;
  --color-inactive: #b3b3b3;
  --color-land: #f6f6f6;
  --color-positive: #222222;
  --color-negative: #222222;
  --color-positive: #37efba;
  --color-negative: #ff7272;
  overflow-x: hidden;
}

.constraint {
  padding: 0 14vw;
}
.constraint > * {
  max-width: 30em;
  margin: 0 auto;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
  color: var(--color-active);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.transitionable {
  transition-duration: var(--transition-time);
  transition-timing-function: ease-out;
}

.clickable {
  pointer-events: all !important;
  cursor: pointer !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}