@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

:root {
  box-sizing: border-box;
  font-size: 16px;
  --color-background: #ffffff;
  --color-active: #222222;
  --color-inactive: #b3b3b3;
  --color-positive: #37efba;
  --color-negative: #ff7272;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
  color: var(--color-active);
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.transitionable {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}