.info-box {
  height: 3em;
  width: var(--layout-margin);
  position: absolute;
  padding: .75em;
  pointer-events: none;
}

.info-box__right {
  transform: translateX(-100%)
}

.info-box__left {
  transform: translateX(100%);
}

.info-box__right > div {
  align-items: flex-end;
  /* justify-content: flex-end; */
}

