.info-label {
  color: var(--color-inactive);
  height: 100%;
  font-style: italic;
  font-size: .75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info-label span {
  position: relative;
  pointer-events: all;
  cursor: initial;
  /* width: min-content; */
}