.main-bar__wrapper {
  background-color: white;
  position: relative;
  z-index: 2;
}
.main-bar {
  display: flex;
  height: 4em;
  align-items: center;
}
.main-bar h1 {
  margin-right: .75em;
}
.main-bar button {
  padding: .75em;
}

.main-bar button:last-child {
  margin-right: -.75em;
}